body {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 3px;
	color: #1c1231;
}

.menu {
	display: flex;
	flex-direction: row;
	color: #1c1231;
	padding: 0px 0px 0px 30px;
}

.menubox{
	display: flex;
	flex-direction: row;
	margin-left: 50px;
}

#updatebox{
	float: right;
	margin-left: 50px;
	font-size: 14px;
	font-weight: bold;
	color: #1c1231
}

.container{
	max-height: 400px;
	max-width: 750px;
}

.ara {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img {
	width: 65%;
	height: auto;
	margin: auto;
	padding-bottom: 20px;
}

.title {
	margin: auto;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 45px;
	color: #1c1231;
	text-decoration: underline;
	padding-bottom: 20px;
}

.text {
	max-width: 900px;
	padding-bottom: 30px;
	margin-left: 145px;
	letter-spacing: 0px;
	font-family: "Arial", sans-serif;
	line-height: 160%;
	font-weight: bold;
}

a:link {
	color: #1c1231;
	text-decoration: underline;
	text-decoration-color: #d2d5db;
}

a:visited {
	color: #1c1231;
	text-decoration: underline;
	text-decoration-color: #d2d5db;
}

a:hover {
	color: gray;
	text-decoration-color: #1c1231;
}

#arrow{
	text-decoration: none;
}